<html>
	<head>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
			crossorigin="anonymous"
		/>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
			crossorigin="anonymous"
		></script>
		<link rel="stylesheet" href="/resources/css/home.css" />
		<link rel="stylesheet" href="/resources/css/post.css" />
		<link rel="stylesheet" href="/resources/css/moderator.css" />

		<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	</head>

	<body>
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
				<div class="col-2 h-100 d-flex flex-column fixed-top side-bar">
					<div class="row h-auto side-logo">
						<div class="application-logo">
							<img src="/public/Logo.png" id="logo" />
						</div>
					</div>
					<div class="row justify-content-center text-bg-dark flex-grow-1">
						<ul class="nav nav-pills side-nav">
							<li class="nav-item">
								<a class="nav-link menu-element" aria-current="page" href="/moderator/home">Home</a>
							</li>
							<li class="nav-item">
								<a class="nav-link menu-element active-element" aria-current="page" href="/moderator/reports">Reports</a>
							</li>
							<li class="nav-item">
								<a class="nav-link menu-element" aria-current="page" href="/moderator/users">Users</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col h-100 d-flex flex-column main-column">
					<div class="row justify-content-center fixed-top z-1 upper-bar">
						<div class="col">
							<li class="dropdown-profile-image">
								<ul class="nav-link profile-image" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
									<img src="{$profilePicture}" alt="Avatar" id="upper-profile-image" />
								</ul>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item usermenu-username">{$username}</a></li>
									<li><a class="dropdown-item" href="/moderator/profile">Profile</a></li>
									<li><a class="dropdown-item" href="/login/logout">Logout</a></li>
								</ul>
							</li>
						</div>
					</div>
					<div class="row justify-content-center flex-grow-1" id="main-body">
                        <div class="post-section">
                            {if $type=='standard'}
							<div class="row post-item" id="{$postId}">
                                <div class="post-username">{$postUsername}</div>
                                <div class="post-title">{$postTitle}</div>
                                <div class="post-description">{$postDescription}</div>
                                <div class="row">
                                    <div class="col-3">
                                        <div class="post-datetime" id="post-datetime">{$postDatetime}</div>
                                    </div>
                                </div>
                            </div>
							
                            <hr class="solid" />
                            <div class="report-item">
                                <div class="row" id="{$reportId}">
                                    <div class="report-username" id="report-username"></div>
                                    <div class="report-idToReport" id="report-idToReport"></div>
                                    <div class="report-type" id="report-type"></div>
                                    <div class="report-description" id="report-description"></div>
                                    <div class="report-datetime" id="report-datetime"></div>
                                </div>
                            </div>
                            <hr class="solid" />
                            <div class="report-form">
                                <div class="row">
                                    <div class="col">
                                        <button class="report-ignore" id="report-ignore">Ignore</button>
                                    </div>
                                    <div class="col">
                                        <button class="report-delete-post" id="report-delete-post">Delete post</button>
                                    </div>
                                    <div class="col">
                                        <button class="report-ban-user" id="report-ban-user">Ban user for</button>
                                        <input type="datetime-local">
                                    </div>
                                    <div class="col">
                                        <button class="report-delete-user" id="report-delete-user">Delete user</button>
                                    </div>
                                </div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
