RewriteEngine on

#RewriteBase /
#RewriteCond %{HTTP:X-Forwarded-Proto} !https
#RewriteCond %{HTTPS} off
#RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_URI} !^/resources/css/.*$
RewriteCond %{REQUEST_URI} !^/resources/js/.*$
RewriteCond %{REQUEST_URI} !^/public/.*$
RewriteCond %{REQUEST_URI} !^/resources/Smarty/templates/.*$
RewriteRule ^(.*)$ index.php
