<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_URI} !^/exec.php$
    RewriteCond %{REQUEST_URI} !^/resources/css/.*$
    RewriteCond %{REQUEST_URI} !^/resources/js/.*$
    RewriteCond %{REQUEST_URI} !^/public/.*$
    RewriteCond %{REQUEST_URI} !^/resources/Smarty/templates/.*$
    RewriteRule ^(.*)$ index.php
</IfModule>
