<body>
	<div id="jsAddedMenu">
		<form name="sale" action="/post/confirmCreation" method="post" enctype="multipart/form-data">
			<div class="postTitle">
				<div class="input-group mb-3">
					<input type="text" name="sale[title]" class="form-control" placeholder="Title..." aria-describedby="inputGroup-sizing-default" />
				</div>
			</div>
			<div class="postDescription">
				<div class="input-group mb-3">
					<textarea
						type="text"
						name="sale[description]"
						class="form-control"
						placeholder="Description..."
						aria-describedby="inputGroup-sizing-default"
						rows="5"
					></textarea>
				</div>
			</div>
			<div class="price">
				<input type="number" name="sale[price]" class="form-control" placeholder="0.00" />
				<i>&euro;</i>
			</div>
			<div class="image">
				<div class="input-group mb-3">
					<input type="file" name="sale[image]" id="saleImage" accept="image/png, image/jpeg" value="Load image" />
				</div>
			</div>
			<div>
				<button type="submit" data-mdb-button-init data-mdb-ripple-init class="postButton">New post</button>
			</div>
		</form>
	</div>
</body>
