<body>
    <div class="comment">
        <div class="row" id="comment-id">
            <div class="comment-username" id="comment-username"></div>
            <div class="comment-description" id="comment-description"></div>
        </div>
        <div class="row">
            <div class="col report text-end float-end">
                <form action="/post/reportcomment" method="post">
                    <input type="hidden" id="comment-report" name="commentId" value="">
                    <input type="image" id="report-image" src="/public/report.png">
                </form>
            </div>
            <div class="col-3">
                <div class="comment-datetime" id="comment-datetime"></div>
            </div>
        </div>
    </div>
    <hr class="solid">
</body>