<body>
	<div class="row post-item" id="id-post-team">
		<div class="post-username" id="post-userId"></div>
		<div class="title-post-bar post-title" id="post-title"></div>
		<div class="row">
			<div class="col-9">
				<div class="post-description" id="post-description"></div>
			</div>
			<div class="col">
				<button class="participateButton" id="post-participate" value="" data-id="">Team up</button>
			</div>
		</div>
		<div class="post-time_" id="post-time_"></div>
		<div class="post-players" id="post-players"></div>
		<div class="row">
			<div class="col reportPost text-end float-end">
				<form action="/post/report" method="post">
					<input type="hidden" id="post-report" name="objToReportId" value="" />
					<input type="hidden" id="post-report-type" name="objToReportType" value="team" />
					<input type="image" id="report-image" src="/public/report.png" />
				</form>
			</div>
			<div class="col-3">
				<div class="post-datetime" id="post-datetime"></div>
			</div>
		</div>
	</div>
	<hr class="solid" />
</body>
