<body>
	<div class="post-item" id="id-post-standard">
		<a class="row" href="/post/comments" id="clickable">
			<div class="col">
				<div class="post-username" id="post-userId"></div>
			</div>
			<div class="col" id="post-delete">
				
			</div>
			<div class="post-title" id="post-title"></div>
			<div class="post-description" id="post-description"></div>
			<div class="row">
				<div class="col reportPost text-end float-end">
					<form action="/post/report" method="post">
						<input type="hidden" id="post-report" name="objToReportId" value="" />
						<input type="hidden" id="post-report-type" name="objToReportType" value="standard" />
						<input type="image" id="report-image" src="/public/report.png" />
					</form>
				</div>
				<div class="col-3">
					<div class="post-datetime" id="post-datetime"></div>
				</div>
			</div>
		</a>
	</div>
	<hr class="solid" />
</body>
