<body>
    <div class="row post-item" id="id-post-sell">
        <div class="post-username" id="user"></div>
        <div class="title-post-bar post-title" id="post-title"></div>
        <div class="description" id="description"></div>
        <div class="price" id="price"></div>
        <div class="image" id="image">
            <a id="thumbnailLink" href="" target="_blank">
                <img src="" class="thumbnail" id="thumbnail">
            </a>
        </div>
        <div class="datetime" id="datetime"></div>
    </div>
    <hr class="solid">
</body>