body {
    background-color: #222222;
    color: white;
}

.sideBar {
    width: 15%;
    min-width: 150px;
}

.dropdown-menu{
    background-color: #222222;
}

.dropdown-item {
    color: white;
}

.usermenu-username {
    color: coral;
    background-color: #222222;
    text-decoration: none;
}

.usermenu-username:hover {
    color: coral;
    background-color: #222222;
}

.pLogo {
    padding: 0;
    margin: 0;
    border-color: white;
    border-style: none none solid none;
    border-spacing: 15px 10px;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 150px;
}

.pSideLogo {
    display: block;
    background-color: #222222;
    border-color: white;
    border-style: none solid none none;
}

.pSideNav {
    display: block;
    padding: 5%;
    padding-top: 7%;
    background-color: #222222;
    border-color: white;
    border-style: none solid none none;
}

.pMainColumn {
    margin-left: max(15%, 150px);    
}

.pUpperBar {
    color: white;
    background-color: #222222;
    text-align: center;
    border-color: #d1d1d1;
    border-style: none none solid none;
    height: 60px;
    padding-bottom: 10;
    margin-left: max(15%, 150px);
    min-width: 350px
}

.pSearchContainer {
    min-width: max(75%, 250px);
}

.pSearch {
    padding-left: 35%;
    padding-right: 10%;
    padding-top: 10px;

}

.pImgCol {
    min-width: max(25%, 70px);
}

.pDropdown {
    list-style-type: none;
    padding-top: 10px;
}

#profileImage {
    height: 40px;
}

#profileImage:hover {
    border-color: white;
    border-style: solid;
}

#profileImage:active {
    border-color: white;
    border-style: solid;
}

.pProfileImage {
    position: absolute;
    right: 30;
}

.pActive {
    background-color: #ff8800;
    text-align: center;
    transition: none;
}

.pActive:hover {
    color: white;
    transition: none;
    background-color:333333;
}

.pMenuElement {
    color: white;
    text-decoration: none;
    text-align: center;
    transition: none;
}

.pMenuElement:hover {
    color:white;
    background-color: #333333;
    transition: none;
}

.pMenuElement:active {
    color: white;
    background-color: #534535;
}

#main_body {
    margin-top: 60px;
    text-align: center;
    min-width: 400px;
}

.pWelcome {
    font-size: 72px;
}

.pUsername {
    color:white;
    text-decoration: none;
    font-weight: 700;
}

.pHomeButton {
    color:white;
    text-decoration: none;
    background-color: #ff8800;
    transition: none;
    border: none;
    padding: 20px;
    margin: 4px 2px;
    border-radius: 8px;
    width: 40%;
    font-size: 30px;
}

.pHomeButton:hover {
    color:white;
    background-color: #333333;
    transition: none;
}

.pHomeButton:active {
    color:white;
    background-color: #534535;
}

.pUpperLoginButton {
    color: white;
    text-decoration: none;
    background-color: #ff8800;
    transition: none;
    border: none;
    padding: 10px;
    margin: 7px 2px;
    border-radius: 8px;
    position: absolute;
    right: 30;
}

.pUpperLoginButton:hover {
    color:white;
    background-color: #333333;
    transition: none;
}

.pUpperLoginButton:active {
    color:white;
    background-color: #534535;
}

.button {
    color:white;
    background-color: #ff8800;
    text-decoration: none;
    transition: none;
    border: none;
    padding: 20px;
    margin: 4px 2px;
    border-radius: 8px;
    width: 40%;
    font-size: 30px;
}

.button:hover {
    color:white;
    background-color: #333333;
    transition: none;
}

.button:active {
    color:white;
    background-color: #534535;
}