<body>
	<div class="mod-item">
		<div class="row" id="mod-id">
            <div class="col-3 mod-profile-image" id="mod-profile-image">
				<img src="" class="mod-thumbnail" id="mod-thumbnail" />
			</div>
			<div class="col-6 mod-username" id="mod-username"></div>
			<div class="col-5 mod-email" id="mod-email"></div>
			<div class="col" id="mod-delete" value="">
				<button class="button mod-delete-button" id="mod-delete-button">
					<img src="/public/delete.png" class="mod-delete-image">
				</button>
			</div>
		</div>
	</div>
	<hr class="solid" />
</body>