<body>
	<div class="user-item">
		<div class="row" id="user-id">
            <div class="col-3 user-profile-image" id="user-profile-image">
				<img src="" class="user-thumbnail" id="user-thumbnail" />
			</div>
			<div class="col-6 user-username" id="user-username"></div>
			<div class="col-5 user-email" id="user-email"></div>
			<div class="col right-most-button" id="user-delete" value="">
				<button class="button user-delete-button" id="user-delete-button">
					<img src="/public/delete.png" class="user-delete-image">
				</button>
			</div>
		</div>
	</div>
	<hr class="solid-users" />
</body>